# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
target/

# Some of our applications generate logs, which should be ignored by git
logs/

# Other
**/.factorypath

# compiled Vaadin widgetsets
src/main/webapp/VAADIN/widgetsets

# ignore credentials file, but keep Credentials.properties.example
src/main/webapp/WEB-INF/resourceFiles/Credentials.properties
src/main/webapp/WEB-INF/resourceFiles/
