# Rename this file to Credentials.properties and change the values accordingly
# do not add/commit Credentials.properties (one should never store cleartext passwords on a code repository)

# hostname, e.g., db.server.com
mysql.host=

# username, e.g., somedbuser
mysql.user=

# password (cleartext)
mysql.pass=

# port (MySQL listens on port 3306 by default)
mysql.port=